* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "DM Sans", sans-serif;
	color: white;
}
:focus {
	outline: 2px solid white;
	outline-offset: 3px;
}
:root {
	--main-color: hsl(243, 27%, 20%);
}
body {
	background-color: hsl(243, 96%, 9%);
}

.container {
	padding: 20px 50px;
	max-width: 1400px;
	margin: 0 auto;
}
header {
	display: flex;
	justify-content: space-between;
	position: relative;
	align-items: center;
	gap: 20px;
}
header img {
	max-width: 40%;
}
.units {
	background-color: var(--main-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	border-radius: 12px;
	padding: 12px 16px;
	cursor: pointer;
	flex-shrink: 1;
}
.icon {
	background-repeat: no-repeat;
	background-size: contain;
}
.gears {
	width: 16px;
	height: 16px;
	background-image: url("assets/images/icon-units.svg");
}
.drop {
	background-image: url("assets/images/icon-dropdown.svg");
	width: 13px;
	height: 8px;
}
.hidden {
	display: none !important;
}
.dropmenu {
	position: absolute;
	border-radius: 12px;
	background-color: var(--main-color);
	right: 0;
	top: calc(100% + 10px);
	padding: 6px 7px;
	border: 1px hsl(243, 23%, 30%) solid;
	width: 212px;
	z-index: 5;
	display: flex;
	flex-direction: column;
	gap: 5px;
}
hr {
	border: none;
	border-top: hsl(243, 23%, 30%) 1px solid;
}
.dropmenu .group {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.label {
	padding: 8px 12px;
	font-size: 14px;
	color: hsl(240, 6%, 70%);
}
.switch:focus {
	outline-width: 1px;
	outline-offset: 1px;
}
.option {
	padding: 9px 8px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 12px;
	position: relative;
}
.option:hover,
.option.checked,
.option.selected {
	background-color: hsl(243, 23%, 24%);
}
.option.checked::after {
	content: "";
	width: 14px;
	height: 11px;
	background-image: url("assets/images/icon-checkmark.svg");
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
}
.error {
	text-align: center;
}
.error img {
	width: 46px;
	margin: 80px 0 28px;
}

h1 {
	font-family: "Bricolage Grotesque", sans-serif;
	font-size: 48px;
	text-align: center;
}
.error h1 {
	margin-bottom: 28px;
}
.error p {
	margin: 0 auto 28px;
	max-width: 527px;
	color: hsl(250, 6%, 84%);
}
.error .retry {
	padding: 12px 16px;
	border-radius: 12px;
	background-color: var(--main-color);
	display: flex;
	gap: 10px;
	width: fit-content;
	margin: 0 auto;
	cursor: pointer;
	align-items: center;
}
.error .icon {
	width: 16px;
	height: 16px;
	background-image: url("assets/images/icon-retry.svg");
}

.app h1 {
	margin: 72px 0 65px;
}

.search {
	display: flex;
	gap: 16px;
	justify-content: center;
	margin-bottom: 48px;
}
.search .input {
	background-color: var(--main-color);
	border-radius: 12px;
	padding: 18px 24px;
	display: flex;
	gap: 18px;
	width: 526px;
	position: relative;
}
.search .input .dropmenu {
	width: 100%;
	padding: 8px;
}
/* .search input:not(:focus) + .dropmenu
{
	display: none;
} */

.search .progress {
	display: flex;
	gap: 16px;
	padding: 16px;
	align-items: center;
}
.search .option:hover {
	outline: 1px solid hsl(243, 23%, 30%);
}

@keyframes loading {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
.search .progress .icon {
	width: 24px;
	height: 24px;
	background-image: url("assets/images/icon-loading.svg");
	animation: infinite loading 2s linear;
}
.search input {
	background-color: transparent;
	outline: none;
	border: none;
	font-size: 18px;
	flex-grow: 1;
}
.search input::placeholder {
	color: hsl(250, 6%, 84%);
	font-size: 18px;
}
.search .input > .icon {
	background-image: url("assets/images/icon-search.svg");
	width: 21px;
	height: 21px;
}
.search .button {
	cursor: pointer;
	background-color: hsl(233, 67%, 56%);
	border-radius: 12px;
	padding: 18px 24px;
	font-size: 18px;
}
.search .button:focus {
	outline-color: hsl(233, 67%, 56%);
}

.result {
	display: flex;
	gap: 32px;
}
.left {
	width: 800px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.today {
	background-image: url("assets/images/bg-today-large.svg");
	background-repeat: no-repeat;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 12px;
	padding: 24px;
	margin-bottom: 32px;
	background-size: cover;
	min-height: 300px;
	position: relative;
}
.today .weather {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 48px;
}
.today h1 {
	font-size: 92px;
	font-style: italic;
	font-family: "DM Sans", sans-serif;
	font-weight: 600;
}
.today .status {
	width: 64px;
	height: 64px;
}
.icon.sunny {
	background-image: url("assets/images/icon-sunny.webp");
}
.icon.drizzle {
	background-image: url("assets/images/icon-drizzle.webp");
}
.icon.fog {
	background-image: url("assets/images/icon-fog.webp");
}
.icon.overcast {
	background-image: url("assets/images/icon-overcast.webp");
}
.icon.partly {
	background-image: url("assets/images/icon-partly-cloudy.webp");
}
.icon.rain {
	background-image: url("assets/images/icon-rain.webp");
}
.icon.snow {
	background-image: url("assets/images/icon-snow.webp");
}
.icon.storm {
	background-image: url("assets/images/icon-storm.webp");
}

.today .location {
	font-weight: 700;
	margin-bottom: 20px;
}
.today .date {
	font-size: 14px;
	color: hsl(250, 6%, 84%);
}
.result .group {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}
.card {
	background-color: var(--main-color);
	flex: 1;
	border: 1px hsl(243, 23%, 30%) solid;
	border-radius: 12px;
}
.metro .card .type {
	color: hsl(250, 6%, 84%);
	font-size: 18px;
}
.metro .card .level {
	font-size: 24px;
}

.metro .card {
	height: 116px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.metro {
	gap: 24px;
	margin-bottom: 54px;
}
.forecast {
	margin-bottom: 24px;
}

.daily.group {
	gap: 16px;
	flex-wrap: wrap;
	display: flex;
}
.daily .card {
	padding: 18px 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 34px;
	min-height: 160px;
}
.daily .day {
	text-align: center;
}
.daily .temp {
	display: flex;
	justify-content: space-between;
	width: 100%;
	gap: 10px;
	font-size: 12px;
	font-weight: 500;
}
.daily .sky {
	width: 42px;
	height: 36px;
	background-size: cover;
}

.hourly {
	background-color: var(--main-color);
	border-radius: 12px;
	flex: 1;
	display: flex;
	flex-direction: column;
	max-height: 740px;
	padding: 24px 0;
	gap: 16px;
}

.hourly .group {
	flex-direction: column;
	gap: 16px;
	justify-content: space-between;
	flex: 1;
	overflow-y: scroll;
	padding: 0 24px;
	will-change: transform;
}
.hourly .group::-webkit-scrollbar {
	width: 4px;
}
.hourly .group::-webkit-scrollbar-thumb {
	width: 100%;
	background-color: hsl(243, 23%, 24%);
	border: 1px hsl(243, 23%, 30%) solid;
}
@supports not selector(::-webkit-scrollbar) {
	.hourly .group {
		scrollbar-width: thin;
		scrollbar-color: hsl(243, 23%, 24%) transparent;
	}
}
.hourly .card {
	background-color: hsl(243, 23%, 24%);
	display: flex;
	justify-content: space-between;
	padding: 18px;
	align-items: center;
	min-width: 250px;
	padding: 24px;
	min-height: 65px;
}

.hourly .icon {
	width: 30px;
	height: 30px;
}
.hourly .time {
	display: flex;
	gap: 12px;
	align-items: center;
}
.hoursdays {
	display: flex;
	gap: 12px;
	justify-content: space-between;
	align-items: center;
	padding: 0 24px;
}
.hoursdays h3 {
	font-size: 18px;
}
.currentday {
	background-color: hsl(243, 23%, 30%);
	border: none;
	border-radius: 12px;
	padding: 10px 16px;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	position: relative;
	gap: 12px;
}
.currentday .icon {
	width: 13px;
	height: 8px;
	background-image: url("assets/images/icon-dropdown.svg");
}

@media (max-width: 1200px) {
	.result {
		flex-direction: column;
	}
	.left {
		width: auto;
	}
	.group {
		flex-wrap: wrap;
	}
}
@media (max-width: 800px) {
	.container {
		padding: 16px;
	}
	.search {
		flex-direction: column;
	}
	.search .input {
		width: auto;
		flex: 1;
	}
	.button {
		flex: 1;
		text-align: center;
	}
	.today {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.today h1 {
		font-size: 64px;
	}
	.result .left .group {
		display: grid;
	}
	.metro {
		gap: 16px;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	}
	.daily {
		grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
	}
	.hourly .card {
		min-width: auto;
	}
}
.search .chosen {
	color: hsl(240, 6%, 70%);
	text-decoration: underline;
}

.noresult {
	text-align: center;
	display: none;
}

.result.loading .today {
	background: var(--main-color);
	justify-content: center;
	align-items: center;
}
.today .load {
	display: none;
}
.today .load .icons {
	display: flex;
	gap: 10px;
}
.today .load .icons > div {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: white;
}
.result.loading .today .load {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 16px;
}
.result.loading .today .icons > div {
	animation: bounce 1s infinite linear;
}
.result.loading .today .icons > div:nth-child(2) {
	animation-delay: 0.2s;
}
.result.loading .today .icons > div:nth-child(3) {
	animation-delay: 0.4s;
}

@keyframes bounce {
	0% {
		transform: translateY(0%);
	}
	25% {
		transform: translateY(-8px);
	}
	50% {
		transform: translateY(0);
	}
	75% {
		transform: translateY(8px);
	}
	100% {
		transform: translateY(0);
	}
}
.result.loading .today > div {
	display: none;
}

.result .metro .card .level.loading {
	display: none;
}
.result.loading .metro .card .level.loading {
	display: block;
	line-height: 1.8;
}
.result.loading .metro .card .level,
.result.loading .daily .card > div,
.result.loading .hourly .group .card > div {
	display: none;
}
.result.loading .hourly .currentday .day {
	display: none;
}
.result .hourly .currentday .day.loading {
	display: none;
}
.result.loading .hourly .currentday .day.loading {
	display: block;
	line-height: 1.8;
}
